.header_call_btn a:hover, .home-slider_item_btn:hover, .header_submenu_item a, .header_submenu_item a:hover, .header_call_btn a, .home-slider_item_btn {
  transition: all .1s ease-out; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

.header_call_btn a:hover, .home-slider_item_btn:hover {
  opacity: .8; }

body {
  font-family: "Cuprum", sans-serif;
  font-size: 20px;
  line-height: 20px;
  position: relative;
  z-index: -3; }

p {
  margin: 0;
  margin-bottom: 1em; }

h1 {
  font-family: "Cuprum", sans-serif;
  font-size: 100px;
  line-height: 1.1;
  margin: 0; }

h2 {
  font-size: 35px;
  line-height: 1.2;
  margin: 0; }

h3 {
  font-size: 22px;
  line-height: 1.2;
  margin: 0; }

img {
  max-width: 100%;
  height: auto;
  width: auto;
  /* for ie 8 */ }

.a-wrapp {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px; }
  .a-wrapp::before, .a-wrapp::after {
    content: '';
    display: block;
    height: 1px;
    clear: both; }

.h2_wrapp {
  text-align: center; }

.h2-title {
  color: #222021;
  display: inline-block;
  padding-left: 35px;
  text-transform: uppercase;
  position: relative;
  margin: 40px 0 20px; }
  .h2-title::before {
    content: '';
    display: block;
    width: 17px;
    height: 17px;
    left: 0;
    top: 50%;
    margin-top: -8px;
    position: absolute;
    background-color: #ffda01; }

.header {
  position: relative;
  z-index: -2;
  background-color: #222021; }
  .header .logo_line {
    height: 77px;
    width: 100%;
    position: absolute;
    z-index: -1;
    background-color: #ffda01;
    background: url("../img/footer-logo-bg.png") repeat;
    top: 0;
    right: 82%; }
  .header_logo {
    float: left;
    width: 216px;
    height: 77px;
    background-color: #ffda01;
    background: url("../img/footer-logo-bg.png") repeat;
    line-height: 76px;
    position: relative;
    top: -1px; }
    .header_logo img {
      vertical-align: middle; }
  .header_contact {
    font-size: 14px;
    color: #ffda01;
    margin-bottom: 13px;
    margin: 15px 170px 0 236px; }
    .header_contact_email {
      padding-left: 32px;
      margin-right: 17px;
      position: relative;
      text-decoration: underline; }
      .header_contact_email::before {
        content: '';
        position: absolute;
        top: 1px;
        left: 0;
        width: 19px;
        height: 14px;
        background: url("../img/header-email.png") no-repeat 0% 0%; }
  .header_menu {
    text-align: justify;
    line-height: 0;
    font-size: 0;
    margin: 0px 170px 0 236px; }
    .header_menu::after {
      content: '';
      width: 100%;
      display: inline-block; }
    .header_menu_item {
      display: inline-block;
      margin-right: 25px;
      position: relative; }
      .header_menu_item a {
        color: #fff;
        display: block;
        padding: 5px 0 16px;
        text-decoration: none;
        font-size: 18px;
        line-height: 1.2; }
        .header_menu_item a:hover {
          color: #ffda01; }
      .header_menu_item:hover .header_submenu {
        display: block; }
      .header_menu_item_list {
        position: absolute;
        top: 14px;
        right: -11px;
        width: 5px;
        height: 3px;
        background-color: red;
        background: url("../img/list-icon.png") no-repeat 50% 50%; }
  .header_submenu {
    width: 225px;
    position: absolute;
    top: 41px;
    left: 50%;
    margin-left: -100%;
    background-color: #fff;
    border: 1px solid #222021;
    display: none; }
    .header_submenu_item a {
      text-align: left;
      display: block;
      padding: 10px 23px;
      color: #222021;
      font-size: 20px;
      line-height: 1.2;
      border-bottom: 1px solid #222021; }
      .header_submenu_item a:hover {
        color: #222021;
        background-color: #ffda01; }
  .header_call {
    float: right;
    color: #ffda01; }
    .header_call_number {
      padding-left: 25px;
      position: relative;
      margin: 4px 0; }
      .header_call_number::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 17px;
        height: 17px;
        background: url("../img/header-number.png") no-repeat 0% 0%; }
    .header_call_btn a {
      display: block;
      font-size: 16px;
      font-weight: 700;
      color: #222021;
      line-height: 1.2;
      padding: 8px 20px;
      background-color: #ffda01;
      border-radius: 2px;
      text-decoration: none;
      text-transform: uppercase; }

.home-slider {
  z-index: -3; }
  .home-slider .slick-arrow {
    border: none;
    position: absolute;
    top: 50%;
    margin-top: -47px;
    width: 45px;
    height: 94px;
    background: url(../img/slider-arrows.png);
    background-position: 0 0;
    z-index: 1;
    color: transparent; }
    .home-slider .slick-arrow button {
      color: transparent; }
    .home-slider .slick-arrow:hover {
      opacity: .8; }
    .home-slider .slick-arrow.slick-prev {
      left: 50%;
      margin-left: -630px; }
    .home-slider .slick-arrow.slick-next {
      right: 50%;
      margin-right: -630px;
      background-position: -45px 0; }
  .home-slider_item {
    height: 482px;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    cursor: pointer;
    background-size: cover; }
    .home-slider_item_description {
      width: 570px;
      position: absolute;
      top: 65px;
      left: 50%;
      margin-left: -515px;
      color: #fff; }
      .home-slider_item_description h1 {
        text-shadow: 0px 0px 7px rgba(0, 0, 0, 0.2); }
    .home-slider_item_text {
      margin: 0;
      font-size: 23px;
      line-height: 1.2;
      text-shadow: 0px 0px 7px rgba(0, 0, 0, 0.2); }
    .home-slider_item_btn {
      display: inline-block;
      padding: 15px 35px;
      text-transform: uppercase;
      text-decoration: none;
      color: #fff;
      font-size: 25px;
      opacity: .9;
      background: #fde102;
      background: linear-gradient(to bottom, #fde102 0%, #ee9b01 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fde102', endColorstr='#ee9b01',GradientType=0 );
      border-radius: 4px;
      box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
      margin-top: 15px; }

.how-it-work_top {
  padding-top: 10px; }

.how-it-work_list {
  padding: 50px 90px 90px 90px;
  font-size: 0;
  line-height: 0; }
  .how-it-work_list_item {
    width: 110px;
    height: 140px;
    margin-right: 26px;
    display: inline-block;
    box-sizing: border-box;
    position: relative; }

.how-it-work_posbottom-3 {
  bottom: -45px; }

.how-it-work_posbottom-2 {
  bottom: -25px; }

.how-it-work .caption-top {
  top: -70px; }

.how-it-work .how-line-right {
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: 136px;
  height: 166px;
  z-index: 1;
  background: url("../img/how-line-1.png") no-repeat 0 0; }

.how-it-work .how-line-left {
  position: absolute;
  bottom: -89px;
  left: 50%;
  width: 136px;
  height: 166px;
  z-index: 1;
  background: url("../img/how-line-2.png") no-repeat 0 0; }
  .how-it-work .how-line-left--one {
    bottom: -66px; }

.how-it-work .caption_number {
  font-size: 14px;
  text-align: center;
  line-height: 26px;
  margin: 7px auto 3px;
  width: 26px;
  height: 26px;
  background-color: #ffda01;
  border-radius: 50%;
  position: relative;
  z-index: 2; }

.how-it-work .caption_text {
  font-size: 20px;
  line-height: 1.2;
  text-align: center; }

.advantages {
  background-color: #dbe6ea; }
  .advantages_title::before {
    background-color: #83aab8; }
  .advantages .advantages_list_item {
    width: 350px;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 30px;
    margin-right: 23px;
    padding-left: 50px;
    position: relative; }
    .advantages .advantages_list_item:nth-child(3n) {
      margin-right: 0; }
    .advantages .advantages_list_item::before {
      content: '';
      display: block;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-color: #ffffff;
      position: absolute;
      left: 0;
      top: -5px; }
    .advantages .advantages_list_item::after {
      content: '';
      display: block;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: #9dd5b2;
      position: absolute;
      left: 11px;
      top: 6px; }

.services {
  padding-bottom: 100px;
  background: url("../img/services-bg.png") no-repeat 0 100%; }
  .services_list_item {
    width: 370px;
    display: inline-block;
    margin-bottom: 30px;
    margin-right: 53px;
    vertical-align: top; }
    .services_list_item_title, .services_list_item_text {
      margin-left: 87px; }
    .services_list_item_title {
      margin-top: 7px; }
    .services_list_item_img {
      float: left;
      background-image: url("../img/services-item-bg.png");
      background-color: #ffda01;
      text-align: center;
      width: 72px;
      height: 71px;
      line-height: 71px; }
      .services_list_item_img img {
        vertical-align: middle; }
    .services_list_item_text {
      font-size: 16px;
      line-height: 1.2;
      color: #7d7d7d; }

.slick-prev::before,
.slick-next::before {
  content: ''; }

.buses {
  height: 410px; }
  .buses .slick-arrow {
    border: none;
    position: absolute;
    top: 50%;
    margin-top: -15px;
    width: 18px;
    height: 31px;
    background: url(../img/arrows.png);
    background-position: 0 0;
    z-index: 1;
    color: transparent; }
    .buses .slick-arrow button {
      color: transparent; }
    .buses .slick-arrow:hover {
      opacity: .8; }
    .buses .slick-arrow.slick-prev {
      left: 50%;
      margin-left: -50%; }
    .buses .slick-arrow.slick-next {
      right: 50%;
      margin-right: -50%;
      background-position: -18px 0; }
  .buses_text_accent {
    background-color: #ffda01; }
  .buses_slider {
    padding: 0 40px;
    text-align: justify; }
    .buses_slider::after {
      content: '';
      display: inline-block;
      width: 100%; }
    .buses_slider_item {
      padding: 0 2px;
      width: 296px;
      display: inline-block; }
      .buses_slider_item_img {
        float: left;
        width: 146px;
        height: 203px;
        line-height: 0;
        margin-right: 15px; }
      .buses_slider_item_description {
        display: table-cell;
        height: 203px;
        vertical-align: middle; }
        .buses_slider_item_description h3 {
          margin-bottom: 10px;
          text-align: left;
          padding-right: 10px; }
        .buses_slider_item_description p {
          font-size: 18px;
          line-height: 1.1;
          margin-bottom: 5px; }
        .buses_slider_item_description span {
          font-size: 14px;
          line-height: 1.1; }

.inert {
  padding-top: 70px;
  background: url("../img/inert-bg.png") no-repeat 50% 100%;
  background-size: cover;
  line-height: 0; }
  .inert_title::before {
    background-color: #000; }
  .inert_text {
    line-height: 1.2; }
  .inert_list {
    font-size: 16px;
    line-height: 1.2;
    margin-bottom: 20px; }
  .inert_advantage {
    width: 735px;
    height: 203px;
    margin-left: 160px;
    margin-bottom: 40px;
    display: table; }
    .inert_advantage_img {
      float: left;
      width: 146px; }
    .inert_advantage_title {
      font-size: 25px;
      line-height: 1.2;
      display: table-cell;
      vertical-align: middle;
      padding-left: 20px; }

.area {
  padding-bottom: 150px;
  background: url("../img/area-bg.png") no-repeat 0% 100%; }
  .area .h2-title {
    margin: 40px 0; }
  .area_text {
    width: 585px; }
  .area_list {
    font-size: 16px;
    line-height: 1.2;
    margin-bottom: 40px; }
  .area_foto {
    font-size: 0;
    width: 585px; }
    .area_foto_item {
      display: inline-block;
      margin: 0 10px 10px 0;
      line-height: 0; }

.partners {
  margin-bottom: 30px; }
  .partners_list_item {
    display: inline-block;
    padding-left: 9px;
    position: relative; }
    .partners_list_item::before {
      content: '';
      position: absolute;
      width: 4px;
      height: 4px;
      background-color: #cbb013;
      top: 50%;
      left: 0;
      margin-top: -2px; }
  .partners_slider {
    padding: 20px 40px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee; }
    .partners_slider_item {
      width: 200px;
      vertical-align: middle; }
      .partners_slider_item img {
        line-height: 55px;
        margin: auto; }
  .partners .slick-arrow {
    border: none;
    position: absolute;
    top: 50%;
    width: 18px;
    height: 31px;
    background: url(../img/arrows.png);
    background-position: 0 0;
    z-index: 1;
    color: transparent; }
    .partners .slick-arrow button {
      color: transparent; }
    .partners .slick-arrow:hover {
      opacity: .8; }
    .partners .slick-arrow.slick-prev {
      left: 50%;
      margin-left: -50%; }
    .partners .slick-arrow.slick-next {
      right: 50%;
      margin-right: -50%;
      background-position: -18px 0; }

.footer {
  position: relative;
  z-index: -2;
  background: #252525;
  color: #7d7d7d;
  font-size: 16px;
  line-height: 1.2;
  padding-top: 10px; }
  .footer .logo_line {
    height: 76px;
    width: 100%;
    position: absolute;
    z-index: -1;
    background-color: #ffda01;
    background: url("../img/footer-logo-bg.png") repeat-x;
    top: 11px;
    right: 82%; }
  .footer_left {
    float: left;
    width: 216px;
    margin-bottom: 25px; }
    .footer_left_logo {
      margin-bottom: 20px;
      background-color: #ffda01;
      background: url("../img/footer-logo-bg.png") repeat-x;
      line-height: 76px; }
      .footer_left_logo img {
        vertical-align: middle; }
  .footer_right {
    box-sizing: border-box;
    margin-left: 284px;
    padding: 26px 0 16px;
    margin-bottom: 25px; }
    .footer_right_contact {
      display: inline-block;
      margin-right: 45px;
      margin-bottom: 30px;
      color: #fff;
      font-size: 18px;
      line-height: 1.2; }
      .footer_right_contact p {
        margin: 0; }
        .footer_right_contact p span {
          color: #ffda01; }
      .footer_right_contact .adress-index {
        color: #fff; }
  .footer_menu {
    border-bottom: 1px solid #7d7d7d;
    text-align: justify;
    line-height: 0;
    margin-bottom: 20px; }
    .footer_menu::after {
      content: '';
      width: 100%;
      display: inline-block; }
    .footer_menu_item {
      display: inline-block; }
      .footer_menu_item a {
        color: #fff;
        display: block;
        padding: 5px 0;
        text-decoration: none;
        font-size: 18px;
        line-height: 1.2; }
        .footer_menu_item a:hover {
          color: #ffda01; }
  .footer-bg {
    background: url("../img/footer-bg.png") no-repeat 100% 100%; }

.copyright {
  color: #7d7d7d;
  background-color: #222021;
  padding: 20px 0; }
  .copyright_text {
    float: left; }
  .copyright_signature {
    float: right; }
    .copyright_signature a {
      color: #c1c1c1;
      font-weight: 700; }
      .copyright_signature a:hover {
        text-decoration: none; }

@media screen and (max-width: 85em) {
  .a-wrapp {
    width: 100%;
    padding: 0 10px;
    box-sizing: border-box; }
  .how-it-work {
    text-align: center; }
  .how-it-work_list {
    display: inline-block;
    padding: 50px 0 90px; }
  .advantages .advantages_list_item {
    width: 26%;
    margin-right: 2%; }
  .advantages .advantages_list_item:nth-child(3n) {
    margin-right: 23px; }
  .area {
    width: 100%;
    background-position: 50% 100%; }
  .services_list_item {
    width: 30%;
    margin-right: 4%; }
  .services_list_item:nth-child(3n) {
    margin-right: 0px; }
  .buses_slider {
    padding: 0 60px; }
  .buses_slider_item {
    width: 250px; }
  .inert_advantage {
    margin-left: 5%; }
  .footer_right {
    margin-left: 264px; } }

@media screen and (max-width: 78.5em) {
  .header_menu {
    margin: 92px 5% 0; }
  .header_contact {
    float: right;
    margin: 20px;
    margin-right: 20px; }
  .header_contact::after {
    content: '';
    display: table;
    clear: both; }
  .header_contact_email {
    display: block; } }

@media screen and (max-width: 67em) {
  .header_menu {
    margin: 92px 0% 0; }
  .advantages .advantages_list_item {
    width: 42%;
    margin-right: 23px; }
  .advantages .advantages_list_item:nth-child(2n) {
    margin-right: 0px; }
  .services_list_item {
    width: 44%;
    margin-right: 4%; }
  .services_list_item:nth-child(3n) {
    margin-right: 4%; }
  .services_list_item:nth-child(2n) {
    margin-right: 0%; }
  .inert {
    background-position: 60% 100%; }
  .inert_advantage {
    width: 70%;
    margin-left: 0%; }
  .footer_menu {
    border: none;
    width: 27%;
    margin-right: 40px;
    float: left; }
  .footer_menu_item {
    display: block; }
  .footer_right_contact {
    display: block; }
  .footer-bg {
    background-position: 100% 80%; }
  .footer_right_contact {
    margin: 0; }
  .footer_right_text {
    margin-top: 30px; } }

@media screen and (max-width: 54em) {
  .header_menu,
  .header_contact {
    display: none; }
  .advantages .advantages_list_item {
    width: 90%;
    margin-right: 0; }
  .h2-title {
    font-size: 25px;
    margin: 25px 0 20px; }
  .inert_advantage {
    margin-bottom: 50px; }
  .inert_advantage_title {
    font-size: 17px;
    font-weight: bold;
    line-height: 1.2; }
  .footer_menu {
    border: none;
    width: 27%;
    margin-right: 10px;
    float: left; }
  .footer_right {
    margin-left: 254px; } }

@media screen and (max-width: 46em) {
  .advantages .advantages_list_item {
    width: 90%;
    margin-right: 0; }
  .h2-title {
    font-size: 25px;
    margin: 25px 0 20px; }
  .footer_menu {
    display: none; } }

@media screen and (max-width: 39em) {
  .services .services_list_item {
    width: 90%;
    margin-right: 0; }
  .inert {
    padding-bottom: 30px; }
  .area_foto {
    width: 100%; }
  .area_foto_item {
    width: 48%;
    margin: 10px 2% 0 0; }
  .area_foto_item img {
    width: 100%;
    height: auto; }
  .footer-bg {
    background-position: 100% 115%; }
  .adress-index {
    display: none; }
  .footer_left {
    width: 100%;
    float: none;
    margin: 0; }
  .footer_left_logo {
    margin: 0; }
  .footer_left_list {
    display: none; }
  .footer_right {
    margin: 0;
    padding-bottom: 90px; }
  .footer_right_text {
    display: none; }
  .footer .logo_line {
    right: 0; }
  .footer_left_logo {
    text-align: center; }
  .copyright {
    font-size: 16px;
    line-height: 1.2; } }

@media screen and (max-width: 30em) {
  .services_list_item_title {
    margin-top: 0px; }
  .copyright {
    text-align: center;
    padding: 15px 0; }
  .copyright_text,
  .copyright_signature {
    float: none; } }

@media screen and (max-width: 415px) {
  .area {
    background: url("../img/area-bg-mobile.png") no-repeat;
    background-position: 75% 110%; }
  .area_foto {
    width: 100%; }
  .area_foto_item {
    width: 100%;
    margin-bottom: 10px;
    text-align: center; }
  .area_foto_item img {
    width: auto;
    height: auto; } }
