//variables

$subtitle-text: 23px/23px;
$default-size-text: 20px;
$mobile-size-title: 25px;
$advantage-size-text: 25px;
$description-big-text: 18px;
$description-default-text: 16px;
$description-small-text: 14px;
$description-small-color: #7d7d7d;

$default-color-light: #fff;
$default-color-dark: #222021;
$light-color-dark: #252525;
$accent-color: #ffda01;
$default-font: 'Cuprum', sans-serif;

%transition {
  transition: all .8s ease-out;
}







ul {
  margin: 0;
  padding: 0;
    list-style: none;

  li {
  }
}

%outline {
  // outline:1px solid transparent;
  outline:1px solid #ccc;
}
