@media screen and (max-width: 85em) { //1360px
  .a-wrapp {
    width: 100%;
    padding: 0 10px;
    box-sizing: border-box;
  }
  //header
  .header_nav .header_menu{
    // display: none;
  }

  //slider
  .home-slider {
    width: 100%;
  }

  .home-slider .slick-arrow.slick-next {
    right: 2%;
    margin-right: 0;
  }
  .home-slider .slick-arrow.slick-prev {
    left: 2%;
    margin-left: 0;
  }
  .slick-slider {
    // position: static;
  }

  .home-slider .slick-arrow {
    // top: 8%;
  }

  // .h2_wrapp {
  //   text-align: left;
  // }
  .how-it-work {
    text-align: center;
  }
  .how-it-work_list {
    display: inline-block;
    padding: 80px 0 100px;
  }

  .advantages .advantages_list_item {
    width:26%;
    margin-right: 2%;
  }
  .advantages .advantages_list_item:nth-child(3n) {
    margin-right: 23px;
  }

  //area
  .area {
    width:100%;
    background-position: 50% 100%;
  }

  .services_list_item {
    width:30%;
    margin-right: 4%;
  }
  .services_list_item:nth-child(3n) {
    margin-right: 0px;
  }

  //buses
  .buses_slider {
    padding: 0 60px;
  }
  .buses_slider_item {
    width:250px;
  }

  //inert
  .inert_advantage {
    margin-left: 5%;
  }

  //footer
  .footer_right {
    margin-left: 264px;
  }
}
@media screen and (max-width: 78.5em) { //1256px
  .header_menu {
    margin: 92px 5% 0;
  }

  .header_contact {
    float: right;
    margin: 20px;
    margin-right: 20px;
  }

  .header_contact::after {
    content:'';
    display: table;
    clear: both;
  }


  .header_contact_email {
    display: block;;
  }

  .home-slider .slick-arrow {
    // top: 9%;
  }

  .home-slider_item_description {
    margin-left: 0;
    left:10%;
  }



}

@media screen and (max-width: 70.3em) { //1124
  //how-it-work
  .how-it-work_block:first-child{
    margin-bottom: 140px;
  }
}

@media screen and (max-width: 67em) { //1060px
  //header
  .header_menu {
    margin: 92px 0% 0;
  }

  .advantages .advantages_list_item {
    width:42%;
    margin-right: 23px;
  }
  .advantages .advantages_list_item:nth-child(2n) {
    margin-right: 0px;
  }

  .home-slider_item_description h1{
    font-size: 110px; /* Some tweener fallback that doesn't look awful */
    font-size: 8.4vw;
  }

  //area
  .area {
    background: url("../img/area-bg-mobile.png") no-repeat 50% 100%;
  }
  .services_list_item {
    width:44%;
    margin-right: 4%;
  }
  .services_list_item:nth-child(3n) {
    margin-right: 4%;
  }
  .services_list_item:nth-child(2n) {
    margin-right: 0%;
  }

  //inert
  .inert {
    background-position: 60% 100%;
  }
  .inert_advantage {
    width:70%;
    margin-left: 0%;
  }

  //footer
  .footer_menu {
    border:none;
    width: 27%;
    margin-right: 40px;
    float: left;
  }
  .footer_menu_item {
    display: block;
  }

  .footer_right_contact {
    display: block;
  }

  .footer-bg {
    background-position: 100% 80%;
  }

  .footer_right_contact {
    margin: 0;
  }

  .footer_right_text {
    margin-top: 30px;
  }
}

@media screen and (max-width: 54em) { //860px
  //header
  .header_menu,
  .header_contact {
    display: none;
  }

  .slick-arrow,
  .home-slider button {
    display: none;
  }

  .home-slider_item_text {
    font-size: 18px;
    line-height: 1.2;
  }

  .home-slider_item {
    height: 450px;
  }

  .home-slider_item_description {
    width: 445px;
  }

  .advantages .advantages_list_item {
    width: 90%;
    margin-right: 0;
  }

  .h2-title {
    font-size: $mobile-size-title;
    margin: 25px 0 20px;
  }

  //inert
  .inert_advantage {
    margin-bottom: 50px;
  }
  .inert_advantage_title {
    font-size: 17px;
    font-weight: bold;
    line-height: 1.2;
  }
  //footer
  .footer_menu {
    border:none;
    width: 27%;
    margin-right: 10px;
    float: left;
  }
  .footer_right {
    margin-left:254px;
  }
}
@media screen and (max-width: 46em) { //736px
  .advantages .advantages_list_item {
    width: 90%;
    margin-right: 0;
  }

  .h2-title {
    font-size: $mobile-size-title;
    margin: 25px 0 20px;
  }
  //buses

  //how-it-work
  .how-line-none {
    display: none;
  }
  .how-it-work_list_item:nth-child(4n) {
    margin-right: 0;
  }


  //footer
  .footer_menu {
    display: none;
  }
}

@media screen and (max-width: 39em) { //624px
  .services .services_list_item {
    width: 90%;
    margin-right: 0;
  }

  //inert
  .inert {
    padding-bottom: 30px;
  }

  //area
  .area {
    background-position: 85% 110%;
  }

  .area_foto {
    width: 100%;
  }
  .area_foto_item {
    width: 48%;
    margin: 10px 2% 0 0;
  }
  .area_foto_item img {
    width:100%;
    height: auto;
  }

  //how-it-work
  .how-line-right,
  .how-line-left {
    display: none;
  }
  .how-it-work_list_item {
    display: block;
  }
  .how-it-work_block {
    margin: 0;
  }

  .how-it-work {
    text-align: left;
  }
  .how-it-work_list {
    width: 100%;
  }
  .how-it-work_block {
    width: 50%;
  }
  .how-it-work_list_item {
    width: 100%;
    vertical-align: top;
    outline: 1px solid #eee;
  }

  .how-it-work_top {
    padding-top: 0;
  }

  .how-it-work_list_item .caption_text{
    text-align: left;
    margin: 0;
    width: auto;
    position: static;
  }

  .how-it-work_list_item::after {
    content: '';
    display: table;
    clear: both;
  }

  .how-it-work .caption-top {
    top:0;
  }

  .how_img,
  .caption_number,
  .caption_text {
    display: inline-block;
  }

  // .how_img {
  //   float: left;
  // }
  // .caption_text {
  //   float: right;
  // }

  //footer
  .footer-bg {
    background-position: 100% 115%;
  }

  .adress-index {
    display: none;
  }

  .footer_left {
    width: 100%;
    float: none;
    margin: 0;
  }

  .footer_left_logo {
    margin: 0;
  }

  .footer_left_list {
    display: none;
  }

  .footer_right {
    margin: 0;
    padding-bottom: 90px;
  }

  .footer_right_text {
    display: none;
  }

  .footer .logo_line {
    right: 0;
  }
  .footer_left_logo {
    text-align: center;
  }

  //copyright
  .copyright {
    font-size: 16px;
    line-height: 1.2;
  }
}

@media screen and (max-width: 30em) { //480px
  .home-slider_item_description {
    width: 345px;
    left:2%;
  }
  .home-slider_item_description h1{
    font-size: 1.9em;
    // line-height: 2.3;
  }

  .services_list_item_title {
    margin-top: 0px;
  }
  //copyright
  .copyright {
    text-align: center;
    padding: 15px 0;
  }

  .copyright_text,
  .copyright_signature {
    float: none;
  }
}
@media screen and (max-width: 415px) { //415px
  //area
  .area {
    background-position: 75% 110%;
  }

  .area_foto {
    width: 100%;
  }
  .area_foto_item {
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
  }
  .area_foto_item img {
    width: auto;
    height: auto;
  }
}


@media screen and (max-width: 20em) { //320px
  //home-slider

}
