@import "base";

body {
  font-family: $default-font;
  font-size: $default-size-text;
  line-height: $default-size-text;
  position: relative;
  z-index: -3;
}

p {
  margin: 0;
  margin-bottom: 1em;
}

h1 {
  font-family: $default-font;
  font-size: 100px;
  line-height: 1.1;
  margin:0;
}

h2 {
  font-size: 35px;
  line-height: 1.2;
  margin: 0;
}

h3 {
  font-size: 22px;
  line-height: 1.2;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
  width: auto; /* for ie 8 */
}

.a-wrapp {
  max-width:1280px;
  margin: 0 auto;
  padding: 0 20px;

  &::before,
  &::after {
    content: '';
    display: block;
    height: 1px;
    clear: both;
  }
}

.h2_wrapp {
  text-align: center;
}

.h2-title {
  color: $default-color-dark;
  display: inline-block;
  padding-left:35px;
  text-transform:uppercase;
  position: relative;
  margin: 40px 0 20px;

  &::before {
    content: '';
    display: block;
    width: 17px;
    height: 17px;
    left: 0;
    top: 50%;
    margin-top: -8px;
    position: absolute;
    background-color: $accent-color;
  }
}

.header {
  position: relative;
  z-index: -2;
  background-color: $default-color-dark;

  .logo_line {
    height: 77px;
    width:100%;
    position: absolute;
    z-index:-1;
    background-color: $accent-color;
    background: url('../img/footer-logo-bg.png') repeat;
    top: 0;
    right:82%;
  }

  &_logo {
    float:left;
    width: 216px;
    height: 77px;
    background-color: $accent-color;
    background: url('../img/footer-logo-bg.png') repeat;
    line-height: 76px;
    position: relative;
    top: -1px;

    img {
      vertical-align: middle;
    }
  }

  &_nav {
    float: left;
    margin-left: 35px;

    &_contact {
      font-size: $description-small-text;
      color: $accent-color;
      margin-bottom: 13px;

      &_email {
        padding-left: 32px;
        margin-right: 17px;
        position: relative;
        text-decoration: underline;

        &::before {
          content: '';
          position: absolute;
          top:1px;
          left:0;
          width: 19px;
          height: 14px;
          background: url('../img/header-email.png') no-repeat 0% 0%;
        }
      }
    }
  }

  &_menu {
    text-align: justify;
    line-height: 0;
    font-size: 0;

    &::after {
      content: '';
      width: 100%;
      display: inline-block;
    }

    &_item {
      display: inline-block;
      margin-right:25px;
      position: relative;

      a {
        color: $default-color-light;
        display: block;
        padding: 5px 0 16px;
        text-decoration: none;
        font-size: $description-big-text;
        line-height: 1.2;
        &:hover {
          color: $accent-color;
        }
      }

      &:hover .header_submenu {
        display: block;
      }

      &_list {
        position: absolute;
        top:14px;
        right: -11px;
        width: 5px;
        height: 3px;
        background-color: red;
        background: url('../img/list-icon.png') no-repeat 50% 50%;
      }
    }
  }

  &_submenu {
    width:225px;
    position: absolute;
    top: 41px;
    left: 50%;
    margin-left: -100%;
    background-color: #fff;
    border: 1px solid $default-color-dark;
    display: none;

    &_item {

      a {
        text-align: left;
        display: block;
        padding: 10px 23px;
        color: $default-color-dark;
        font-size: $default-size-text;
        line-height: 1.2;
        border-bottom: 1px solid $default-color-dark;
        @extend %transition;

        &:hover {
          color: $default-color-dark;
          background-color: $accent-color;
          @extend %transition;
        }
      }
    }
  }

  &_call {
    float:right;
    color: $accent-color;

    &_number {
      padding-left: 25px;
      position: relative;
      margin: 4px 0;

      &::before {
        content: '';
        position: absolute;
        top:0;
        left:0;
        width: 17px;
        height: 17px;
        background: url('../img/header-number.png') no-repeat 0% 0%;
      }
    }
    &_btn {
      a {
        display: block;
        font-size: $description-default-text;
        font-weight: 700;
        color: $default-color-dark;
        line-height: 1.2;
        padding: 8px 20px;
        background-color: $accent-color;
        border-radius: 2px;
        text-decoration: none;
        text-transform: uppercase;
        @extend %transition;

        &:hover {
          @extend %btn-hover;
        }
      }
    }
  }
} //END header

.home-slider {
  z-index: -3;

  .slick-arrow {
    border:none;
		position: absolute;
		top: 50%;
		margin-top: -47px;
		width: 45px;
		height: 94px;
		background: url(../img/slider-arrows.png);
		background-position: 0 0;
		z-index: 1;
    color: transparent;

    button {
      color: transparent;
    }

		&:hover {
			opacity: .8;
		}

		&.slick-prev {
			left: 50%;
			margin-left: -630px;
		}

		&.slick-next {
			right: 50%;
			margin-right: -630px;
			background-position: -45px 0;
		}
	}

  &_item {
  	height: 482px;
  	overflow: hidden;
  	background-repeat: no-repeat;
  	background-position: 50% 50%;
  	background-size: cover;
    cursor: pointer;

  	&_description {
  		width: 570px;
  		position: absolute;
  		top: 65px;
  		left: 50%;
      margin-left: -515px;
      color: #fff;

      h1 {
        text-shadow: 0px 0px 7px rgba(0, 0, 0, 0.2);
      }
  	}

    &_text {
      margin:0;
      font-size: $subtitle-text;
      line-height: 1.2;
      text-shadow: 0px 0px 7px rgba(0, 0, 0, 0.2);
    }

    &_btn {
      display: inline-block;
      padding: 15px 35px;
      text-transform: uppercase;
      text-decoration: none;
      color: #fff;
      font-size: $advantage-size-text;
      opacity: .9;
      background: #fde102;
      background: linear-gradient(to bottom,  #fde102 0%,#ee9b01 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fde102', endColorstr='#ee9b01',GradientType=0 );
      border-radius: 4px;
      box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
      margin-top: 15px;
      @extend %transition;

      &:hover {
        @extend %btn-hover;
      }
    }
  }
} //END slider

.how-it-work {
  &_top {
    padding-top: 10px;
  }

  &_list {
    padding: 50px 90px 90px 90px;
    font-size: 0;
    line-height: 0;

    &_item {
      width: 110px;
      height: 140px;
      margin-right: 26px;
      display: inline-block;
      box-sizing: border-box;
      position: relative;
    }
  }

  &_posbottom-3 {
    bottom:-45px;
  }

  &_posbottom-2 {
    bottom:-25px;
  }

  .caption-top {
    top:-70px;
  }

  .how-line-right {
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 136px;
    height: 166px;
    z-index: 1;
    background: url('../img/how-line-1.png')no-repeat 0 0;
  }
  .how-line-left {
    position: absolute;
    bottom: -89px;
    left: 50%;
    width: 136px;
    height: 166px;
    z-index: 1;
    background: url('../img/how-line-2.png')no-repeat 0 0;

    &--one {
      bottom:-66px;
    }
  }

  .caption_number {
    font-size: $description-small-text;
    text-align: center;
    line-height: 26px;
    margin: 7px auto 3px;
    width: 26px;
    height: 26px;
    background-color: $accent-color;
    border-radius: 50%;
    position: relative;
    z-index: 2
  }

  .caption_text {
    font-size: $default-size-text;
    line-height: 1.2;
    text-align: center;
  }
} //END how-it-work

.advantages{
  background-color: #dbe6ea;

  &_title {
    &::before {
      background-color: #83aab8;
    }
  }

  .advantages_list {
    &_item {
      width: 350px;
      display: inline-block;
      vertical-align: top;
      margin-bottom: 30px;
      margin-right: 23px;
      padding-left: 50px;
      position: relative;

      &:nth-child(3n) {
        margin-right:0;
      }

      &::before {
        content: '';
        display: block;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: #ffffff;
        position: absolute;
        left:0;
        top: -5px;
      }

      &::after {
        content: '';
        display: block;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: #9dd5b2;
        position: absolute;
        left: 11px;
        top: 6px;
      }
    }
  }
} //END advantages

.services{
  padding-bottom: 100px;
  background: url('../img/services-bg.png') no-repeat 0 100%;

  &_list {

    &_item {
      width: 370px;
      display: inline-block;
      margin-bottom: 30px;
      margin-right: 53px;
      vertical-align: top;

      &_title,
      &_text {
        margin-left: 87px;
      }

      &_title {
        margin-top: 7px;
      }

      &_img {
        float: left;
        background-image: url('../img/services-item-bg.png');
        background-color:  $accent-color;
        text-align: center;
        width: 72px;
        height: 71px;
        line-height: 71px;

        img {
          vertical-align: middle;
        }
      }

      &_text {
        font-size: $description-default-text;
        line-height: 1.2;
        color: $description-small-color;
      }
    }
  }
} //END services

.slick-prev::before,
.slick-next::before {
  content:'';
}

.buses{
  height: 410px;

  .slick-arrow {
    border:none;
		position: absolute;
		top: 50%;
		margin-top: -15px;
		width: 18px;
		height: 31px;
		background: url(../img/arrows.png);
		background-position: 0 0;
		z-index: 1;
    color: transparent;

    button {
      color: transparent;
    }

		&:hover {
			opacity: .8;
		}

		&.slick-prev {
			left: 50%;
			margin-left: -630px;
		}

		&.slick-next {
			right: 50%;
			margin-right: -630px;
			background-position: -18px 0;
		}
	}

  &_text {
    &_accent {
      background-color: $accent-color;
    }
  }

  &_slider {
    padding: 0 40px;
    text-align: justify;

    &::after {
      content: '';
      display: inline-block;
      width: 100%;
    }
    &_item {
      padding: 0 2px;
      width: 296px;
      display: inline-block;

      &_img {
        float: left;
        width: 146px;
        height: 203px;
        line-height: 0;
        margin-right: 15px;
      }
      &_description {
        display: table-cell;
        height: 203px;
        vertical-align: middle;

        h3 {
          margin-bottom: 10px;
        }

        p {
          font-size: $description-big-text;
          line-height: 1.1;
          margin-bottom: 5px;
        }

        span {
          font-size: $description-small-text;
          line-height: 1.1;
        }
      }
    }
  }
} //END buses

.inert{
  padding-top: 110px;
  background: url('../img/inert-bg.png') no-repeat 0% 0%;
  line-height: 0;

  &_title {
    &::before {
      background-color: #000;
    }
  }

  &_list {
    font-size: $description-default-text;
    line-height: 1.2;
    margin-bottom: 20px;
  }

  &_advantage {
    width:735px;
    height: 203px;
    margin-left: 160px;
    margin-bottom: 40px;
    display: table;

    &_img {
      float:left;
      width:146px;
    }

    &_title {
      font-size: $advantage-size-text;
      line-height: 1.2;
      display: table-cell;
      vertical-align: middle;
      padding-left: 20px;
    }
  }
} //END inert

.area{
  height: 660px;
  background: url('../img/area-bg.png') no-repeat 0% 100%;

  &_text {
    width: 585px;
  }

  &_list {
    font-size: $description-default-text;
    line-height: 1.2;
    margin-bottom: 20px;
  }

  &_foto {
    font-size: 0;
    width: 585px;
    &_item {
      display: inline-block;
      margin: 0 10px 10px 0;
      line-height: 0;
    }
  }
} //END area

.partners{
  margin-bottom: 30px;

  &_list {
    &_item {
      display: inline-block;
      padding-left: 9px;
      position: relative;

      &::before {
        content:'';
        position: absolute;
        width: 4px;
        height: 4px;
        background-color: #cbb013;
        top:50%;
        left:0;
        margin-top:-2px;
      }
    }
  }

  &_slider {
    padding: 20px 40px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;

    &_item {
      width: 200px;
      vertical-align: middle;

      img {
        line-height: 55px;
        margin: auto;
      }
    }
  }

  .slick-arrow {
    border:none;
		position: absolute;
		top: 50%;
		width: 18px;
		height: 31px;
		background: url(../img/arrows.png);
		background-position: 0 0;
		z-index: 1;
    color: transparent;

    button {
      color: transparent;
    }

		&:hover {
			opacity: .8;
		}

		&.slick-prev {
			left: 50%;
			margin-left: -630px;
		}

		&.slick-next {
			right: 50%;
			margin-right: -630px;
			background-position: -18px 0;
		}
	}
} //END partners

.footer{
  position: relative;
  z-index:-2;
  background: $light-color-dark;
  color: $description-small-color;
  font-size: $description-default-text;
  line-height: 1.2;
  padding-top: 10px;

  .logo_line {
    height: 76px;
    width:100%;
    position: absolute;
    z-index:-1;
    background-color: $accent-color;
    background: url('../img/footer-logo-bg.png') repeat-x;
    top: 11px;
    right:82%;
  }

  &_left {
    float: left;
    width: 216px;
    margin-bottom: 25px;

    &_logo {
      margin-bottom: 20px;
      background-color: $accent-color;
      background: url('../img/footer-logo-bg.png') repeat-x;
      line-height: 76px;

      img {
        vertical-align: middle;
      }
    }
  }

  &_right {
    float: left;
    box-sizing: border-box;
    width:996px;
    margin-left: 68px;
    margin-bottom: 25px;

    &_contact {
      display: inline-block;
      margin-right: 45px;
      margin-bottom: 30px;
      color: #fff;
      font-size: $description-big-text;
      line-height: 1.2;

      p {
        margin: 0;

        span {
          color: $accent-color;
        }
      }
    }
  }


  &_menu {
    padding: 26px 0 16px;
    border-bottom: 1px solid $description-small-color;
    text-align: justify;
    line-height: 0;
    margin-bottom: 20px;

    &::after {
      content: '';
      width: 100%;
      display: inline-block;
    }

    &_item {
      display: inline-block;

      a {
        color:$default-color-light;
        display: block;
        padding: 5px 0;
        text-decoration: none;
        font-size: $description-big-text;
        line-height: 1.2;

        &:hover {
          color: $accent-color;
        }
      }
    }
  }

  &-bg {
    background: url('../img/footer-bg.png') no-repeat 100% 100%;;
  }
} //END footer

.copyright {
  color: $description-small-color;
  background-color: $default-color-dark;
  padding: 20px 0;

  &_text {
    float:left;
  }

  &_signature {
    float:right;

    a {
      color: #c1c1c1;
      font-weight: 700;

      &:hover {
        text-decoration: none;
      }
    }
  }
}

@import 'media-queries';
